#wrapper {
	width: 970px;
	margin: 0px;
	background-color: #265175;
	color: white;
	display: block;
}
#header {
	width: 100%;
	margin: 0px;
	display: flex;
	padding: 10px;
}
#headerlogo {
	flex: 3;
}
#headerlogo img{
	width: 50%;
}
#headersearch {
	flex: 1;
	text-align: right;
}
.black {
	color: black;
}
.yellow {
	color: #dfbf48;
	font-weight: normal; 
}
#search_bar_outline {
	background-color: #444444;
	text-align: center;
	border-radius: 10px;
	padding: 10px 0px;
	margin-top: 10px; 
}
#search_bar_outline button{
	background-color: #265175;
	color: white;
	border-radius: 5px;
}
#search_bar_outline input[type="text"]{
	height: 20px;
}
::-webkit-input-placeholder{
	text-align: center;
}
#nav_bar ul{
	display: flex;
	flex-direction: row;
	background-color: #497eab;
	border-radius: 10px;
	box-shadow: 2px 2px black;
	margin: 0px 5%;
}
#nav_bar a{
	color: white;
	text-decoration: none;
	padding: 10px;
}
#nav_bar a:hover {
	color: black;
	padding: 10px;
}
#nav_bar li {
	flex: 1;
	list-style: none;
	padding: 10px;
}
#upper_part {
	display: flex;
	margin: 0px 5%;
}
#upper_part ul {
	flex: 1
}
#upper_part ul li{
	list-style: none;
	text-align: center;
	margin: 10px 0px;
}
#upper_part ul li a{
	color: white;
}
#center_content {
	flex: 3;
	text-align: center;
}
#upper_part li .yellow_arrow {
	font-size: 10px;
	color: #dfbf48;
}
.unbold {
	font-weight: normal;
}
#lower_part {
	border-top: 2px solid #1b3a55;
	background-color: white;
	color:black;
	display: flex;
	padding: 0px 10%;
}
.bottom_box{
	flex: 1;
	text-align: center;
	margin: 0px 5%;
}
.bottom_box h2{
	border-top: 5px solid #a8c8e3;
	font-weight: normal;
	font-size: 20px;
	margin: 10px auto 0px auto;
}
.bottom_box p {
	margin: 5px auto;
}
.bottom_box li {
	color: black;
	list-style: square;
}
.bottom_box li a {
	color: #a8c8e3;
	text-decoration: none;
}
.lightblue {
	color: #a8c8e3;
}
#footer {
	display: flex;
	flex-direction: column;
	padding: 20px 10%;
	background: linear-gradient( 0deg, #3674a8, #265175 );
}
#links {
	display: flex;
}
#footer #links a {
	flex: 1;
	text-align: center;
	text-decoration: none;
	color: #6da1cc;
	padding: 10px;
}
#copyright {
	margin: 0px;
	text-align: center;
	font-size: 10px;
	color: #6da1cc;
}