#wrapper {
	width: 970px;
	margin: 0px;
	background-color: #265175;
	color: white;
	display: block;
}
#header {
	width: 100%;
	margin: 0px;
	display: flex;
	padding: 10px;
}
#headerlogo {
	flex: 3;
}
#headerlogo img{
	width: 50%;
}
#headersearch {
	flex: 1;
	text-align: right;
}
.black {
	color: black;
}
.yellow {
	color: #dfbf48;
	font-weight: normal; 
}
#search_bar_outline {
	background-color: #444444;
	text-align: center;
	border-radius: 10px;
	padding: 10px 0px;
	margin-top: 10px; 
}
#search_bar_outline button{
	background-color: #265175;
	color: white;
	border-radius: 5px;
}
#search_bar_outline input[type="text"]{
	height: 20px;
}
::-webkit-input-placeholder{
	text-align: center;
}
#nav_bar ul{
	display: flex;
	flex-direction: row;
	background-color: #497eab;
	border-radius: 10px;
	box-shadow: 2px 2px black;
	margin: 0px 5%;
}
#nav_bar a{
	color: white;
	text-decoration: none;
	padding: 10px;
}
#nav_bar a:hover {
	color: black;
	padding: 10px;
}
#nav_bar li {
	flex: 1;
	list-style: none;
	padding: 10px;
}
#upper_part {
	display: flex;
	margin: 0px 5%;
}
#upper_part ul {
	flex: 1
}
#upper_part ul li{
	list-style: none;
	text-align: center;
	margin: 10px 0px;
}
#upper_part ul li a{
	color: white;
}
#center_content {
	flex: 3;
	text-align: center;
}
#upper_part li .yellow_arrow {
	font-size: 10px;
	color: #dfbf48;
}
.unbold {
	font-weight: normal;
}
#lower_part {
	background-color: white;
}